rules_version='2'

service cloud.firestore {
  match /databases/{database}/documents {

    match /messages/{message} {
      allow read: if true;
      allow create: if isLoggedIn() && isValidMessage();
      allow update, delete: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }

  function isLoggedIn() {
    return request.auth != null;
  }

  function isValidMessage() {
    // uid of incoming doc should match the authenticated user
    // return request.resource.data.uid == request.auth.uid

    // email of incoming doc should match the authenticated user
    return request.resource.data.author == request.auth.token.email;
  }
}
